@{
    ViewData["Title"] = "About";
}
<div class="aboutUs clients-work">
    <div class="container text-center">

        <p>If you use traditional storage lockers with keys or passcodes, you may be losing money and putting your business at risk. When you consider the difference between standard and intelligent locker management, you will quickly understand how making the change can affect your bottom line.</p>
        <div class="mt-40">
            <p>Manual storage lockers are inefficient, costly, and unsanitary. Forgotten passcodes, labor costs, and misplaced keys are ongoing issues faced by companies still using manual storage methods.</p>
        </div>
        <div class="mt-40">
            <p>Welcome to Diamond Lockers, a password-free quick storage solution transforming the locker storage industry.</p>
        </div>
        <div class="mt-40">
            <p>With traditional locker management, employees use passcodes, keys or badges, while tracking records help ensure security and safety. Keeping accurate records, preventing theft, and maintaining hygiene are ongoing challenges faced by companies using manual storage.</p>
        </div>
        <div class="mb-40">
            <p>If you want to increase your company`s productivity and growth consider upgrading your system to Diamond Lockers.</p>
        </div>
    </div>
</div>