@{
    ViewData["Title"] = Localizer.Get("About Us");
}
<div class="aboutUs clients-work">
    <div class="container text-center">
        @Html.Raw(Setting.Get(Localizer.Get("aboutLongDesc")))
    </div>
</div>